:root {
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Outfit', sans-serif;
    --font-3: 'Open Sans', sans-serif;
    --main-font: "Libre Franklin", sans-serif;
}

body {
    width: 100%;
    background-color: var(--color-base-300);
    font-family: var(--main-font);
}

.font1 {
    font-family: var(--font-1);
}

.font2 {
    font-family: var(--font-2);
}

.font3 {
    font-family: var(--font-3);
}

.main-font {
    font-family: var(--main-font);
}

input,
.input {
    box-shadow: none;
}

.text {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.text {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -64px;
}


@media (min-width: 1280px) {
    .text {
        position: fixed;
        left: calc(50% + 75px);
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        margin-top: 0;
    }
}