@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* @plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    themes: light --default;
}


@plugin "daisyui" {
    themes: dark --default, dark --prefersdark;
    themes: dark --default;
} */